<center><h1><%= @resources.country %><h1><center>

<div id = "ytvid">
  <iframe id = "video" width="750" height="450" src="https://www.youtube.com/embed/<%= @resources.video[:youtube_video_id] %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>