<body>
  <div class='flex-container'>
    <div class="flex-items" id="new_user_button">
      <%= button_to 'Create a New User', register_path, method: :get, class: 'button1' %>
      <%= button_to 'Log In', login_path, method: :get, class: 'button1' %>
    </div>
  </div>
</body>